@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');


/* Global Styling */

* {
    margin: 0;
    padding: 0;
}

body { 
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
    background: url(images/bg-pattern-top-mobile.svg) no-repeat 0 0,
                url(images/bg-pattern-bottom-mobile.svg) no-repeat 5px 1027px;
}

/* Colors */

:root {
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

/* Typography */

h1 {
    font-size: 30px;
    color: var(--very-dark-magenta);
}
  
h2 {
    font-size: 14px;
    color: var(--light-grayish-magenta);
}
  
h3 {
    font-size: 14px;
    color: var(--soft-pink);
    font-weight: 400;
}
  
.intro p {
    color: var(--dark-grayish-magenta);
    line-height: 22px;
    font-size: 14px;
    font-weight: 500;
}
  
.rating-card p {
    color: var(--very-dark-magenta);
    font-weight: 700;
  }

.testimonial p {
    color: var(--light-grayish-magenta);
    line-height: 22px;
}

/* Layout */

main {
    height: 100%;
    margin: 0 25px;
    overflow: hidden;
}

h1 {
    width: 80%;
    margin: 80px auto 30px;
    text-align: center;
}

.intro p {
    margin: 30px 0 45px;
    text-align: center;
}

.rating-cards {
    margin-bottom: 50px;
}

.rating-card {
    height: 75px;
    background-color: var(--light-grayish-magenta);
    text-align: center;
    margin-top: 25px;
}

.rating-stars {
    display: inline-block;
    background: url("images/icon-star.svg");
    background-repeat: space no-repeat;
    max-width: 90px;
    width: 30%;
    height: 15px;
    margin: 12px 0;
}

.testimonials {
    margin-bottom: 100px;
}

.testimonial {
    padding: 40px 35px 30px 30px;
    margin-bottom: 16px;
    background: var(--very-dark-magenta);
    border-radius: 10px;
    font-size: 12px;
}

.testimonial img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.buyer {
    display: flex;
    flex-direction: column;
    margin-left: 65px;
    margin-top: -40px;
}

.testimonial p {
    margin-top: 27px;
    width: 95%;
}

.buyer-name {
    margin-bottom: 5px;
}

/* Media queries */

@media (min-width: 411px) {
    .rating-stars {
        width: 25%;
    }
} 

@media (min-width: 481px) {
    .rating-stars {
        width: 20%;
    }
}

@media (min-width: 768px) {
    .rating-stars {
        width: 20%;
    }
    main {
        margin: 0 100px;
    }
    .testimonial p {
        width: 100%;
    }
}

@media (min-width: 1024px) {
    body {
        background: url(images/bg-pattern-top-desktop.svg) no-repeat,
        url(images/bg-pattern-bottom-desktop.svg) no-repeat 345px 80px;
    }
    main {
        margin: 0 80px;
    }
    .overview {
        display: flex;
        justify-content: space-between;
    }
    .intro {
        width: 50%;
    }
    .intro h1, .intro p {
        text-align: left;
        margin-left: 0;
    }
    .rating-cards {
        width: 25%;
        margin-right: 10px;
    }
    .rating-stars {
        width: 40%;
    }
    .testimonials {
        display: flex;
    }
    .testimonial {
        margin-right: 10px;
    }
}

@media (min-width: 1200px) {
    .rating-stars {
        width: 35%;
    }
}

@media (min-width: 1440px) {
    main {
        margin: 0 170px 0 160px;
    }
    h1 {
        font-size: 45px;
        margin-bottom: 20px;
    }
    .intro p {
        width: 80%;
        margin-bottom: 75px;
    }
    .rating-cards {
        margin-top: 70px;
        width: 44%;
    }
    .rating-card {
        width: 440px;
        height: 55px;
        margin-bottom: 30px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .rating-stars {
        width: 20%;
        margin-left: -100px;
    }
    .rating-card p {
        margin-top: 5px;
        font-size: 12px;
        margin-left: -100px;
    }
    .rating-card:first-of-type {
        margin-left: -50px;
    }
    .rating-card:last-of-type {
        margin-left: 50px;
    }
    .testimonial {
        width: 300px;
        height: 100%;
        font-size: 13px;
        padding-right: 30px;
        padding-left: 40px;
    }
    .testimonial:first-of-type {
        margin-top: -15px;
    }
    .testimonial:last-of-type {
        margin-top: 15px; 
    }
}

@media (min-width: 1920px) {
    main {
        margin: 0 280px;
    }
    .intro p {
        font-size: 18px;
        line-height: 38px;
    }
    .testimonial {
        margin-right: 115px;
    }
}

/* Attribution */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
